@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome To Airlines System </h1>
    <p><img src="~/images/img2.jpg" /></p>
</div>












